body {
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
}


/*HEADER*/
header {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search-bar {
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 40%;
    margin: 0 20px; 
}

.search-bar input[type="text"] {
    border: none;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

.search-bar svg {
    margin-left: auto;
}

.logo img {
    height: 70px;
    width: auto;
    margin-right: 25px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.button {
    background: none;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white; 
}

.button svg {
    margin-right: 5px;
}

/*NAV*/
.principal {
    background-color: white; 
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.33);
}

.principal ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-left: 30%;
    padding: 0;
}

.principal li {
    align-items: center; 
}

.principal a {
    text-decoration: none;
    color: blue; 
    font-size: 15px;
    font-weight: bold;
    display: flex; 
    align-items: center; 
}

.principal svg {
    margin-right: 5px; 
}

/*Slider*/
.slider {
    width: 40%; 
    margin: 20px auto; 
    overflow: hidden; 
    position: relative; 
}

.slider-content {
    display: flex; 
    transition: transform 0.5s ease-in-out; 
}

.slider-content img {
    width: 100%;
    flex-shrink: 0; 
}

.slider-controls button {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
}

.slider-controls button.prev {
    background-color: white;
    border-radius: 50%; 
    color: black;
    font-weight: bold;
    left: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-controls button.next {
    background-color: white;
    border-radius: 50%; 
    color: black;
    font-weight: bold;
    right: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-selection {
    text-align: center; 
    margin-top: 10px; 
}

.slider-selection button {
    background: white; 
    border: 2px solid rgba(0, 0, 0, 0.5); 
    width: 20px; 
    height: 7px; 
    margin: 0 5px; 
    cursor: pointer; 
}

.slider-selection button.active {
    background: blue; 
    border: none;
}

/*IMAGENES - GRUPO*/
.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    padding: 20px; 
}

.image-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.image-secundaria{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.images img {
    border-radius: 15px;
    max-width: auto;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.images img:hover {
    transform: scale(1.05);
}


/*SECCIONES Y CONTENEDORES*/
.secciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.secciones h2{
    font-family: sans-serif;
    color: blue;
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.seccion a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.seccion img{
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.seccion h2 {
    font-family: sans-serif;
    color: blue;
}

.slider-productos {
    display: flex   ;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.slider-productos-controls {
    display: flex;
    align-items: center;
}

.slider-productos-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.contenedor-producto {
    min-width: 250px; 
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contenedor-producto h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.contenedor-producto .precio-ahora {
    font-size: 20px;
    font-weight: bold;
    color: purple;
    margin-bottom: 10px;
}

.contenedor-producto .ver-detalles {
    background-color: white;
    color: purple;
    border: 2px solid purple;
    padding: 8px 15px;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
}

.slider-productos-control {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.contenedor-imgtxt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.contenedor-imgtxt img {
    border-radius: 0;
    box-shadow: 0 0px 0px;
    width: 20%;
    height: auto;
    margin-bottom: 10px;
}

/*FINAL*/
.final{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 20px;
    gap: 15px;
}

.final-content{
    display: flex;
    flex-direction: column;
}

.final-content h2{
    font-family: sans-serif;
    color: black;
}

.final-content p{
    font-family: sans-serif;
    font-size: 14px;
    color: black;
}

/*AYUDA*/
.ayuda {
    text-align: center; 
    padding: 20px; 
    background-color: #f9f9f9; 
    width: 70%;
}

.ayuda h2 {
    font-size: 24px; 
    margin-bottom: 10px;
    color: blue; 
}

.ayuda p {
    font-size: 16px; 
    line-height: 1.5; 
    color: #333; 
}

.ayuda a {
    color: blue; 
    text-decoration: none; 
}

.ayuda a:hover {
    text-decoration: underline; 
}

/*FOOTER*/
.footer {
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
    color: gray;
}

.footer-container { 
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
    width: 85%;
}

.footer-column {
    flex: 1;
    padding: 0 10px;
    border-right: 1px solid #ccc; 
}

.footer-column:last-child {
    border-right: none; 
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: 60%;
    margin-top: 20%;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    text-decoration: none;
    color: gray;
}

.footer-links a:hover{
    text-decoration: underline;
    color: gray;
}

.app-downloads img{
    width: 25%;
}

.social-icons{
    display: flex;
    gap: 20px;
}

.footer-bottom {
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.footer-bottom-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}


.logos-pago{
    background-color: ghostwhite ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
    font-weight: bold;
}

.logos-pago img{
    width: 4%;
    height: max-content;
    margin-left: 5px;
    border: 1px solid #ccc;
}

.certificados-logos {
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 20px;
    font-weight: bold;
    padding: 10px; 
}

.certificados-logos img{
    width: 15%;
    height: max-content;
    margin-left: 5px;
}

.contenedor-final-final{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.copyright, .legal-links {
    margin-top: 10px;
    font-weight: bold;
}

.legal-links a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.legal-links a:hover{
    text-decoration: underline;
    color: gray;
}