<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/principal.css">
    <title>Principal</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="../img/telcel.png" alt="telcel">
        </div>
        <div class="buttons">
            <button class="button">Menú</button>
        </div>
        <div class="search-bar">
            <input type="text" name="search" id="search" placeholder="Buscar...">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </div>
        <div class="buttons">
            <button class="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>Mi cuenta
            </button>
            <button class="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                </svg>
            </button>
        </div>
    </header>
    <nav class="principal">
        <ul>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-cash-coin" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0" />
                        <path
                            d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z" />
                        <path
                            d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z" />
                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567" />
                    </svg>Paquetes y Recargas</a></li>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>Código postal de entrega</a></li>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-bag" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                    </svg>Tienda</a></li>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                    </svg>Ayuda</a></li>
        </ul>
    </nav>
    <section class="slider">
        <div class="slider-content">
            <img src="../img/redmi1_god.jpg" alt="Imagen 1">
            <img src="../img/redmi2_god.jpg" alt="Imagen 2">
            <img src="../img/redmi3_god.jpg" alt="Imagen 3">
        </div>
        <div class="slider-controls">
            <button class="prev">&#10094;</button>
            <button class="next">&#10095;</button>
        </div>
        <div class="slider-selection">
            <button class="selection active"></button>
            <button class="selection"></button>
            <button class="selection"></button>
        </div>
    </section>
    <script src="../js/slider.js"></script>
    <section class="images">
        <div class="image-principal">
            <img src="../img/telcel_anuncio1.jpg" alt="Imagen 1">
            <img src="../img/telcel_anuncio2.jpg" alt="Imagen 2">
            <img src="../img/telcel_anuncio3.jpg" alt="Imagen 3">
        </div>
        <div class="image-secundaria">
            <img src="../img/telcel_anuncio4.jpg" alt="Imagen 4">
            <img src="../img/telcel_anuncio5.jpg" alt="Imagen 5">
            <img src="../img/telcel_anuncio6.jpg" alt="Imagen 6">
            <img src="../img/telcel_anuncio7.jpg" alt="Imagen 7">
        </div>
    </section>
    <section class="secciones">
        <h2>Teléfonos y Smartphones</h2>
        <section class="seccion">
            <a href="#"><img src="../img/bannercito.jpg" alt="Imagen chida"></a>
            <h2>Te recomendamos</h2>
            <div class="slider-productos">
                <div class="slider-productos-controls">
                    <button class="slider-productos-control prev">
                        < </button>
                            <div class="slider-productos-track">
                                <div class="contenedor-producto">
                                    <div class="contenedor-imgtxt">
                                        <img src="../img/honor_watch4.jpg" alt="HONOR WATCH 4">
                                        <h3>HONOR WATCH 4</h3>
                                    </div>
                                    <p class="precio-ahora">$2,199.00</p>
                                    <button class="ver-detalles">Ver detalles</button>
                                </div>
                                <div class="contenedor-producto">
                                    <div class="contenedor-imgtxt">
                                        <img src="../img/huawei_wifi_ax3.jpg" alt="HUAWEI WIFI AX3">
                                        <h3>HUAWEI WIFI AX3</h3>
                                    </div>
                                    <p class="precio-ahora">$1,599.00</p>
                                    <button class="ver-detalles">Ver detalles</button>
                                </div>
                                <div class="contenedor-producto">
                                    <div class="contenedor-imgtxt">
                                        <img src="../img/huawei_watch_fit2.jpg" alt="HUAWEI WATCH FIT2">
                                        <h3>HUAWEI WATCH FIT2</h3>
                                    </div>
                                    <p class="precio-ahora">$2,299.00</p>
                                    <button class="ver-detalles">Ver detalles</button>
                                </div>
                            </div>
                            <button class="slider-productos-control next">></button>
                </div>
            </div>
        </section>
        <section class="seccion">
            <a href="#"><img src="../img/bannercito.jpg" alt="Imagen chida"></a>
            <h2>Te recomendamos</h2>
            <div class="slider-productos">
                <div class="slider-productos-controls">
                    <button class="slider-productos-control prev">
                        < </button>
                            <div class="slider-productos-track">
                                <div class="contenedor-producto">
                                    <div class="contenedor-imgtxt">
                                        <img src="../img/honor_watch4.jpg" alt="HONOR WATCH 4">
                                        <h3>HONOR WATCH 4</h3>
                                    </div>
                                    <p class="precio-ahora">$2,199.00</p>
                                    <button class="ver-detalles">Ver detalles</button>
                                </div>
                                <div class="contenedor-producto">
                                    <div class="contenedor-imgtxt">
                                        <img src="../img/huawei_wifi_ax3.jpg" alt="HUAWEI WIFI AX3">
                                        <h3>HUAWEI WIFI AX3</h3>
                                    </div>
                                    <p class="precio-ahora">$1,599.00</p>
                                    <button class="ver-detalles">Ver detalles</button>
                                </div>
                                <div class="contenedor-producto">
                                    <div class="contenedor-imgtxt">
                                        <img src="../img/huawei_watch_fit2.jpg" alt="HUAWEI WATCH FIT2">
                                        <h3>HUAWEI WATCH FIT2</h3>
                                    </div>
                                    <p class="precio-ahora">$2,299.00</p>
                                    <button class="ver-detalles">Ver detalles</button>
                                </div>
                            </div>
                            <button class="slider-productos-control next">></button>
                </div>
            </div>
        </section>
        <section class="seccion">
            <a href="#"><img src="../img/bannercito.jpg" alt="Imagen chida"></a>
            <h2>Te recomendamos</h2>
            <div class="slider-productos">
                <div class="slider-productos-controls">
                    <button class="slider-productos-control prev">
                        < </button>
                            <div class="slider-productos-track">
                                <div class="contenedor-producto">
                                    <div class="contenedor-imgtxt">
                                        <img src="../img/honor_watch4.jpg" alt="HONOR WATCH 4">
                                        <h3>HONOR WATCH 4</h3>
                                    </div>
                                    <p class="precio-ahora">$2,199.00</p>
                                    <button class="ver-detalles">Ver detalles</button>
                                </div>
                                <div class="contenedor-producto">
                                    <div class="contenedor-imgtxt">
                                        <img src="../img/huawei_wifi_ax3.jpg" alt="HUAWEI WIFI AX3">
                                        <h3>HUAWEI WIFI AX3</h3>
                                    </div>
                                    <p class="precio-ahora">$1,599.00</p>
                                    <button class="ver-detalles">Ver detalles</button>
                                </div>
                                <div class="contenedor-producto">
                                    <div class="contenedor-imgtxt">
                                        <img src="../img/huawei_watch_fit2.jpg" alt="HUAWEI WATCH FIT2">
                                        <h3>HUAWEI WATCH FIT2</h3>
                                    </div>
                                    <p class="precio-ahora">$2,299.00</p>
                                    <button class="ver-detalles">Ver detalles</button>
                                </div>
                            </div>
                            <button class="slider-productos-control next">></button>
                </div>
            </div>
        </section>
        <section class="final">
            <div class="final-content">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="blue" class="bi bi-shield-check"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56" />
                    <path
                        d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                </svg>
                <h2>Compra segura</h2>
                <p>Todos tus productos tienen garantía Telcel. Con nosotros tus datos están protegidos, conoce nuestro
                    Aviso de privacidad.</p>
            </div>
            <div class="final-content">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="blue" class="bi bi-cash-stack"
                    viewBox="0 0 16 16">
                    <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                    <path
                        d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z" />
                </svg>
                <h2>Formas de pago</h2>
                <p>Para tu comodidad, la Tienda en Línea cuenta con pago en efectivo, meses sin intereses o pago con
                    wallet.</p>
            </div>
            <div class="final-content">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="blue" class="bi bi-truck"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                </svg>
                <h2>Estatus de mi pedido</h2>
                <p>Tu entrega puede tardar más de lo habitual, consulta el estatus de tus pedidos en la sección “Mis
                    pedidos”, para mayor información. </p>
            </div>
        </section>
        <section class="ayuda">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="blue" class="bi bi-chat-left-dots"
                viewBox="0 0 16 16">
                <path
                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                <path
                    d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
            <h2>¿Necesitas ayuda?</h2>
            <a>Visita nuestro <a href="#">TelcelBot</a>, consulta nuestra sección de <a href="#">preguntas
                    frecuentes</a> o contáctanos <a href="#">aquí</a>.</p>
        </section>
    </section>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <img src="../img/telcel.png" alt="Telcel Logo" class="footer-logo">
            </div>
            <div class="footer-column">
                <h3>Accesos rápidos</h3>
                <div class="contenedor-footer">
                    <ul class="footer-links">
                        <li><a href="#">Tarifas Amigo</a></li>
                        <li><a href="#">Planes de Renta</a></li>
                    </ul>
                    <ul class="footer-links">
                        <li><a href="#">Experiencias Telcel</a></li>
                        <li><a href="#">Red de mayor cobertura</a></li>
                        <li><a href="#">Servicios Adicionales</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-column">
                <h3>...</h3>
                <div class="contenedor-footer">
                    <ul class="footer-links">
                        <li><a href="#">Recarga Amigo</a></li>
                        <li><a href="#">Consulta tu saldo</a></li>
                        <li><a href="#">Paga tu factura</a></li>
                    </ul>
                    <ul class="footer-links">
                        <li><a href="#">Más datos para ti</a></li>
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <li><a href="#">Glosario</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-column">
                <h3>Descarga el App de Mi Telcel</h3>
                <div class="app-downloads">
                    <a href="#"><img src="../img/play_store.png" alt="Google Play"></a>
                    <a href="#"><img src="../img/app_store.jpg" alt="App Store"></a>
                    <a href="#"><img src="../img/app_gallery.png" alt="App Gallery"></a>
                </div>
                <h3>Síguenos</h3>
                <div class="social-icons">
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="blue"
                            class="bi bi-twitter-x" viewBox="0 0 16 16">
                            <path
                                d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                        </svg></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="blue"
                            class="bi bi-facebook" viewBox="0 0 16 16">
                            <path
                                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                        </svg></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="blue"
                            class="bi bi-youtube" viewBox="0 0 16 16">
                            <path
                                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z" />
                        </svg></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="blue"
                            class="bi bi-threads" viewBox="0 0 16 16">
                            <path
                                d="M6.321 6.016c-.27-.18-1.166-.802-1.166-.802.756-1.081 1.753-1.502 3.132-1.502.975 0 1.803.327 2.394.948s.928 1.509 1.005 2.644q.492.207.905.484c1.109.745 1.719 1.86 1.719 3.137 0 2.716-2.226 5.075-6.256 5.075C4.594 16 1 13.987 1 7.994 1 2.034 4.482 0 8.044 0 9.69 0 13.55.243 15 5.036l-1.36.353C12.516 1.974 10.163 1.43 8.006 1.43c-3.565 0-5.582 2.171-5.582 6.79 0 4.143 2.254 6.343 5.63 6.343 2.777 0 4.847-1.443 4.847-3.556 0-1.438-1.208-2.127-1.27-2.127-.236 1.234-.868 3.31-3.644 3.31-1.618 0-3.013-1.118-3.013-2.582 0-2.09 1.984-2.847 3.55-2.847.586 0 1.294.04 1.663.114 0-.637-.54-1.728-1.9-1.728-1.25 0-1.566.405-1.967.868ZM8.716 8.19c-2.04 0-2.304.87-2.304 1.416 0 .878 1.043 1.168 1.6 1.168 1.02 0 2.067-.282 2.232-2.423a6.2 6.2 0 0 0-1.528-.161" />
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-container">
                <div class="logos-pago">
                    <p>Tarjetas participantes</p>
                    <img src="../img/visa.png" alt="Visa">
                    <img src="../img/mastercard.png" alt="Mastercard">
                    <img src="../img/carnet.png" alt="Carnet">
                    <img src="../img/american_express.png" alt="American Express">
                </div>
                <div class="certificados-logos">
                    <p>Certificados</p>
                    <img src="../img/norton.png" alt="Norton">
                    <img src="../img/esr.png" alt="ESR">
                    <img src="../img/profeco.png" alt="Profeco">
                </div>
            </div>
            <div class="contenedor-final-final">
                <div class="copyright">
                    <p>©2023 Radiomóvil Dipsa S.A. de C.V. Todos los derechos reservados.</p>
                </div>
                <div class="legal-links">
                    <a href="#">Ofertas de servicios mayoristas</a>
                    <a href="#">Aviso de privacidad</a>
                    <a href="#">Términos y condiciones</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>